.warning-heading, .redStar {
	color: red;
}

.btn {
	font-weight: bold;
}

.align-right {
	float: right;
	margin-left: 10px;
}

.align-left {
	float: left;
	margin-right: 10px;
}

span#feedbackLogin.success, span#feedbackLogin.failure {
	padding: 5px;
	border-radius: 3px;
}

span#feedbackLogin.success {
	color: green;
	border: 1px solid green;
	background-color: lightgreen;
}

span#feedbackLogin.failure {
	color: red;
	border: 1px solid red;
	background-color: pink;
}