<div class="container home-container">

    <div class="jumbotron light col-md-12">
        <h1>I'll be glad to hear from you.</h1>

        <p class="lead">
            Share your ideas with me, or even better, say hello :)
            <br>
            <small>Required fields are shown with a <span class="redStar">*</span>.</small>
        </p>
    </div>

    <div class="col-md-12">
        <form action="MAILTO:work.rmarques@gmail.com?subject=adrael.github.io - Contact"
              method="post" enctype="text/plain">

            <div class="col-md-offset-3 col-md-6">
                <div class="form-group">
                    <label for="mail">Email address<span class="redStar">*</span></label>
                    <input type="email" id="mail" class="form-control" placeholder="Email address" required>
                </div>

                <div class="form-group">
                    <label for="message">Message<span class="redStar">*</span></label>
                    <textarea id="message" rows="4" class="form-control"
                              placeholder="Type your message here" required></textarea>
                </div>

                <div class="pull-right">
                    <button type="reset" class="btn btn-danger right">Reset</button>
                    <button type="submit" class="btn btn-primary right">Send message</button>
                </div>
            </div>

        </form>
    </div>

</div>