<div class="container home-container">

    <div class="jumbotron light col-md-12">
        <h1>Try me.</h1>

        <p class="lead">
            Welcome in the city of proof of concept and future projects.
            <br>
            You will find here all my ideas, the things I have started so far,
            <br>
            the lost causes and the successful
            projects.
        </p>

        <p>
            <a class="btn btn-lg btn-warning" href="#/projects" role="button">
                Go straight to Projects page
            </a>
        </p>
    </div>

    <div class="col-md-4">
        <h2 class="text-center">Up to date</h2>

        <p class="justify">
            While my knowledges keep growing, the projects I realize are growing too. Using the latest technologies,
            from web to desktop, I am sure you will find what you are looking for, right here. Take a look!
        </p>
    </div>

    <div class="col-md-4">
        <h2 class="text-center">Responsive</h2>

        <p class="justify">
            Don't be afraid of going through the website on your phone or tablet. Even phablets are welcome here! I am
            doing my best so all the web projects you will find here fit on your screens.
        </p>
    </div>

    <div class="col-md-4">
        <h2 class="text-center">Aware</h2>

        <p class="justify">
            It will be my pleasure to listen to what you have to say. Critics, congratulations, remarks, ideas... From
            the slightest to the ignominious ones! The <a class="clearLink" href="#/contact">Contact</a>
            part will help you tell me what's on your mind.
        </p>
    </div>

</div>