<div class="container home-container">

    <div class="btn-group projects-switch pull-right">

        <button type="button" class="btn btn-default" ng-class="{'active': projects.isGrid}"
                ng-click="projects.changeDisplay(true)">
            <span class="glyphicon glyphicon-th-large"></span> Grid
        </button>

        <button type="button" class="btn btn-default" ng-class="{'active': !projects.isGrid}"
                ng-click="projects.changeDisplay(false)">
            <span class="glyphicon glyphicon-align-justify"></span> List
        </button>
    </div>

    <div class="jumbotron light col-md-12">
        <h1>Projects. Projects everywhere.</h1>

        <p class="lead">
            Be my guest. Projects are frequently updated, don't be afraid to come back often ;)
        </p>
    </div>

    <div class="row col-md-12">

        <div class="col-md-4 text-center" ng-repeat="item in projects.projects" ng-show="projects.isGrid">

            <img ng-src="images/{{item.img}}" class="img-circle img-deep" alt="140x140" width="140" height="140">

            <h2 ng-bind="item.title"></h2>

            <p class="justify" ng-bind-html="item.text"></p>

            <p class="text-center">

                <a ng-show="item.urlAccess !== ''" class="btn btn-warning"
                   target="_blank" ng-href="{{item.urlAccess}}" role="button">Launch</a>

                <a ng-show="item.urlGit !== ''" class="btn btn-info" target="_blank"
                   ng-href="{{item.urlGit}}" role="button" style="margin-left: 10px;">View on Github</a>

            </p>

            <br>
            <br>

        </div>

        <div ng-repeat="item in projects.projects" ng-hide="projects.isGrid">

            <hr class="featurette-divider">

            <div class="row featurette">

                <div class="col-md-5" ng-show="projects.isLeft($index)">

                    <img class="featurette-image img-responsive img-thumbnail img-deep" alt="500x500" ng-src="images/{{item.imgBig}}">

                </div>

                <div class="col-md-7">

                    <h2 class="featurette-heading">

                        <span class="text-muted" ng-bind="item.titleMuted"></span>
                        <span ng-bind-html="item.titleLeft"></span>

                    </h2>

                    <p class="lead justify" ng-bind-html="item.text"></p>

                    <p class="text-center">

                        <a ng-show="item.urlAccess !== ''" class="btn btn-lg btn-warning"
                           target="_blank" ng-href="{{item.urlAccess}}" role="button">Launch</a>

                        <a ng-show="item.urlGit !== ''" class="btn btn-lg btn-info" target="_blank"
                           ng-href="{{item.urlGit}}" role="button" style="margin-left: 10px;">View on Github</a>

                    </p>

                </div>

                <div class="col-md-5" ng-hide="projects.isLeft($index)">

                    <img class="featurette-image img-responsive img-thumbnail img-deep" alt="500x500" ng-src="images/{{item.imgBig}}">

                </div>

            </div>

        </div>

    </div>

</div>