@import url(http://fonts.googleapis.com/css?family=Exo+2:700);

body {
    color: white;
    padding: 0;
    margin: 0;
    height: 100%;

    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;

    background: rgb(167,207,223);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNhN2NmZGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjM1MzhhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-radial-gradient(center, ellipse cover, rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(167,207,223,1)), color-stop(100%,rgba(35,83,138,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%);
    background: radial-gradient(ellipse at center, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%);

    background-repeat: no-repeat;
    background-attachment: fixed;
}

.jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
}

.justify {
    text-align: justify;
}

.clearLink,
.clearLink:hover,
.clearLink:visited {
    color: orange;
}

.img-deep {
    border: 1px solid black;
    box-shadow: 0 0 30px 1px rgba(0, 0, 0, .5);
}

/* MENU */

.masthead h3 {
    color: rgba(238, 238, 238, .5);
}

.masthead ul li a {
    color: rgba(51, 51, 51, .8);
}

/* HOME */

.home-container {
    color: #333333;
}

/* CONTACT */

.lead small {
    font-size: .7em;
}

.redStar {
    color: red;
    font-weight: bold;
    font-size: 1.5em;
}

/* PROJECTS */

.projects-switch {
    margin-top: 20px;
    left: -15px;
}

.featurette-heading {
    margin-top: 120px;
}

.featurette-heading .text-muted {
    color: orange;
}

/* FOOTER */

.footer {
    border-top: 1px solid rgba(238, 238, 238, .5);
    color: rgba(238, 238, 238, .5);
}
