body {
	background:url(background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

small.subtitle {
	color: lightgray;
	text-shadow: 1px 1px 5px black;
}

canvas#canvas:hover {
    cursor: crosshair;
}

canvas#canvas {
	margin-top: 50px;
}

div#canvas_buttons {
	margin-top: 32px;
	margin-bottom: 50px;
}

.container .page-header h1 small {
	font-size: .5em;
}

.container .page-header h1 small.author {
	color: black;
	float: right;
}

.panel-info {
	border-color: gray;
}

.panel-info>.panel-heading {
	background-color: lightgray;
	color: black;
	border-color: gray;
}

.btn-longer {
	padding-left: 20px;
	padding-right: 20px;
}

#nbr-save {
	opacity: 0;
}

div.row>div.col-md-12>div.form-group {
	margin-bottom: 0;
}

.list-group-item:hover {
	background-color: lightgray;
}